pdfplumber==0.11.4
ollama==0.3.2
chromadb==0.5.5
aiogram==3.12.0
python-dotenv==1.0.1
Flask==3.0.3
Django==5.1.1
langchain
langchain-community
langchain-core==0.2.40
langchain-experimental
langchain-openai
langchain-text-splitters
requests~=2.32.3
sentence-transformers==3.1.1
llama-index==0.12.0
llama-index-agent-openai==0.4.0
llama-index-cli==0.4.0
llama-index-core==0.12.0
llama-index-embeddings-openai==0.3.0
llama-index-indices-managed-llama-cloud==0.6.2
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.3.0
llama-index-multi-modal-llms-openai==0.3.0
llama-index-program-openai==0.3.0
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.0
llama-index-readers-llama-parse==0.4.0
llama-parse==0.5.14
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.13.1
langchain-unstructured