pdfplumber==0.11.4
ollama==0.3.2
chromadb==0.5.5
aiogram==3.12.0
python-dotenv==1.0.1
Flask==3.0.3
Django==5.1.1
langchain
langchain-community
langchain-core==0.2.40
langchain-experimental
langchain-openai
langchain-text-splitters
requests~=2.32.3
sentence-transformers==3.1.1
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.13.1
langchain-unstructured