* {
    margin: 0;
    padding: 0;
}

body, div, p, form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

#answer {
    background-color: bisque;
    width: 50%;
    border-radius: 10px
}

input {
    margin: 10px;
}

#inside_div {
    margin: 15px;
}

#action-button {
    display: none;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form_improve {
    display: none;
}

.form_row {
    display: flex;
    flex-direction: row;
}